/*--------------------//
//     Reset CSS      //
//--------------------*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.mainFontColor {
    color: #24baa0;
}

/*--------------------//
//   Style wspólne    //
//--------------------*/

body {
    font-family: 'Raleway', Arial, sans-serif;
}

.sideWidth {
    width: 90%;
    margin: 0 auto;
}

.uppercase {
    text-transform: uppercase;
}

.clearFloating::after {
    clear: both;
    display: block;
    content: " ";
}

.wordColor {
    color: #24baa0;
}

.sectionTitle {
    color: #666666;
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

.sectionTitleUnderline::after {
    content: " ";
    background-color: #24baa0;
    width: 30%;
    height: 0.5rem;
    display: inline-block;
    position: absolute;
    left: 0;
    top: 5rem;
}

.weightWord {
    font-weight: 700;
}

/*-----------------------//
//   Style indywidualne  //
//-----------------------*/


.wrapperHeader {
    background-color: #000;
    overflow: auto;
    font-weight: 700;
    letter-spacing: 1px;
    padding-bottom: 1rem;
    padding-top: 1rem;
}

.logo {
    float: left;
    color: #fff;
}

.navigation {
    float: right;
    color: #fff;
}

.navigation__list > * {
    list-style: none;
    display: inline-block;
}

.navigation__item {
    margin-left: 2.5rem;
}

.chairSection{
    background: rgba(255,255,255,1);
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(229,228,246,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(100%, rgba(229,228,246,1)));
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(229,228,246,1) 100%);
    background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(229,228,246,1) 100%);
    background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(229,228,246,1) 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(229,228,246,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e4f6', GradientType=0 );
}

.arrow {
    font-size: 5rem;
    color: #24baa0;
    position: absolute;
}

.arrowLeft {
    bottom: 9rem;
}

.chairSection__image {
    margin-left: 5rem;
    position: relative;
    top: -1rem;
}

.chairSection__wrapper {
    margin-top: 7rem;
    position: relative;
}

.chairSection__textWrapper {
    width: 30%;
    text-align: center;
    float: right;
    margin-right: 15rem;
}

.chairSection__title {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 2rem;
}

.chairSection__text {
    padding-bottom: 1.5rem;
    line-height: 1.5rem;
}

.button {
    background-color: #24baa0;
    color: #fff;
    border-radius: 10px;
}

.button--lookMore {
    padding: 1rem;
    width: 70%;
    font-size: 1.5rem;
    margin: 0 auto;
}

.button > a {
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    font-weight: 400;
}

.arrowRight {
    right: 0;
    bottom: 9rem;
}

.fotoSection__wrapper {
    width: 90%;
    margin: 2rem auto 5rem auto;
}

.fotoSection__item {
    height: 225px;
    width: 30%;
    background-size: cover;
    padding-top: 9rem;
    box-sizing: border-box;
    float: left;
}

.fotoSection__item:hover {
    background-image: none;
    border: 1px solid #DBDBDB;
}

.fotoSection__item:hover .visiblePart {
    opacity: 0;
}

.hoverPart {
    position: relative;
    color: #9C9C9C;
    bottom: 14rem;
    padding: 1.5rem;
    box-sizing: border-box;
    opacity: 0;
}

.hoverPart:hover {
    opacity: 1;
}

.hoverPart__title {
    font-size: 1.2rem;
    font-weight: 700;
    color: #000;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
}

.hoverPart__title::after {
    content: " ";
    background-color: #24baa0;
    width: 10rem;
    height: 0.5rem;
    display: inline-block;
    position: absolute;
    top: 3.2rem;
    right: 11.2rem;
}

.hoverPart__text {
    line-height: 1.5rem;
    margin-bottom: 1rem;
    font-size: 0.9rem;
}

.fotoSection__item--box1 {
    background-image: url('../images/box1_img.jpg');
}

.fotoSection__item--box2 {
    background-image: url('../images/box2_img.jpg');
    margin-left: 5%;
}

.fotoSection__item--box3 {
    background-image: url('../images/box1_img.jpg');
    float: right;
}

.fotoSection__decoration {
    background-color: rgba(250, 250, 250, 0.5);
    padding-bottom: 2rem;
    padding-top: 1rem;
}

.fotoSection__boxTitle {
    font-weight: 700;
    margin-left: 0.7rem;
    position: relative;
}

.boxTitle__underline::after {
    content: " ";
    background-color: #24baa0;
    width: 8.5rem;
    height: 0.5rem;
    display: inline-block;
    position: absolute;
    left: 0;
    bottom: -0.7rem;
}

.cardSection {
    background-color: #F1F1F1;
}

.cardSection__wrapper {
    position: relative;
    padding-top: 3rem;
    padding-bottom: 4rem;
}

.card {
    margin-top: 5rem;
    border: 2px solid #C1C1C1;
    width: 30%;
    height: 30rem;
    padding: 2rem 0;
    box-sizing: border-box;
    text-align: center;
    position: relative;
    float: left;
    background-color: #fff;
}

.cardSection__wrapper .card:nth-of-type(even) {
    border: 2px solid #24baa0;
    background-color: #24baa0;
}

.card2 {
    margin-left: 5%;
}

.card3 {
    float: right;
}

.circle1 {
    width: 4.5rem;
    height: 4.5rem;
    border: 3px solid #C1C1C1;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    left: calc((100% - 4.5rem) / 2);
    top: -3.5rem;
}

.circle1--color {
    background-color: #24baa0;
    border: 3px solid #24baa0;
}

.circle2 {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-color: #C1C1C1;
    position: absolute;
    z-index: 1;
    top: -2.2rem;
    left: calc((100% - 2rem) / 2); 
    border: 3px solid #C1C1C1;
}

.circle2--color {
    background-color: #fff;
    border: 3px solid #fff;
}

.circle3 {
    width: 8rem;
    height: 8rem;
    border: 3px solid #C1C1C1;
    border-radius: 50%;
    background-color: white;
    position: relative;
    left: calc((100% - 8rem) / 2);
    top: 1rem;
}

.circle3--color {
    border: 3px solid #fff;
}

.price {
    color: #BFBFBF;
    font-size: 2.5rem;
    font-weight: 700;
    margin-top: 2rem;
    margin-bottom: 0.5rem;
}

.price + p {
    color: #BFBFBF;
    font-weight: 700;
}

p.mainFontColor {
    color: #24baa0;
}

.index {
    vertical-align: super;
    font-size: 1rem;
}

.cardTitle {
    text-transform: uppercase;
    font-size: 1.7rem;
    color: #24baa0;
    letter-spacing: -1px;
}

.cardTitle--color {
    color: #fff;
}

.cardText__wrapper{
    margin-top: 3rem;
    margin-bottom: 2rem;
}

.cardText {
    color: #A6A6A6;
    font-size: 1.4rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.cardText__wrapper p:nth-of-type(odd) {
    background-color: #E4E4E4;
}

.cardText__wrapper p:nth-of-type(even) {
    background-color: #F9F9F9;
}

.cardButton {
    background-color: #24baa0;
    width: 35%;
    margin: auto;
    border-radius: 10px;
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
    position: absolute;
    top: 26.5rem;
    right: 7rem;
}

.cardButton--color {
    background-color: #fff;
}

.buttonText {
    color: #fff;
    text-decoration: none;
    display: inline-block;
}

.buttonText--color {
    color: #24baa0;
}

.formSection__wrapper {
    position: relative;
    padding-top: 3rem;
    margin-bottom: 3rem;
}

.inputWrapper {
    position: relative;
}

.input {
    width: 45rem;
    display: inline-block;
    font-size: 2rem;
    margin-top: 2rem;
    font-family: 'Raleway', Arial, sans-serif;
    font-weight: 300;
    line-height: 3rem;
    border: 1px solid #24baa0;
}

.formSection__image {
    position: absolute;
    right: 7rem;
}

.checkWrapper {
    float: right;
    width: 35%;
    margin-top: 5rem;
}

.checkbox {
    width: 3rem;
    height: 3rem;
}

.checkText {
    font-size: 1.5rem;
    display: inline-block;
    float: right;
    width: 85%;
    color: #BFBFBF;
}

.inputSubmit {
    width: 95%;
    font-family: 'Raleway', Arial, sans-serif;
    font-size: 2.5rem;
    font-weight: 700;
    color: #fff;
    background-color: #24baa0;
    border-radius: 10px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-top: 3rem;
}

.footer {
    padding-top: 1.5rem;
    padding-bottom: 2rem;
    color: #9C9C9C;
    letter-spacing: 1px;
}

.copyright {
    text-transform: capitalize;
    font-size: 0.9rem;
    display: inline-block;
    margin-top: 0.7rem;
}

.socialWrapper {
    float: right;
    width: 35%;
}

.socialIcon {
    margin-right: 0.3rem;
}

.footer__logo {
    float: right;
    font-size: 1.2rem;
    margin-top: 0.6rem;
    margin-right: 1rem;
}